/* .App__Light {
  text-align: center;
  font-family: "Calibri";
  background-color: white;
  color: black;
  height: 100%;
}
main {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
.button__Dark {
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}
.App__Dark {
  text-align: center;
  font-family: "Calibri";
  background-color: #333;
  color: white;
  height: 100%;
}
.button__Light{
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  color: black;
}
#root {
  height: 110vh;
}
body {
  margin: 0;
}
.card {
  width: 250px;
  border: 1px solid black;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardimg {
  width: 245px;
  border-radius: 10px;
}
.Link{
  text-decoration: none;
  color: cyan;
}
nav{
  font-size: 40px;
}
header{
  border-bottom: 1px solid black;
  width: 350px;
  margin: auto;
  font-size: 25px;
  margin-bottom: 5px;
}
h1{
  margin: 0;
}
.List{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.contact {
  margin: 0 auto;
  margin-top: 15px;
}
.about {
  margin: 0 auto;
  margin-top: 15px;
}
h2{
  text-decoration: underline;
} */
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
.Link {
  text-decoration: none;
  color: cyan;
}
:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}