.App__light {
  text-align: center;
  font-family: "Calibri";
  background-color: white;
  color: black;
  height: 100%;
}
.App__dark {
  text-align: center;
  font-family: "Calibri";
  background-color: #333;
  color: white;
  height: 100%;
}
#root {
  height: 110vh;
}
body {
  margin: 0;
}
.card {
  width: 250px;
  border: 1px solid black;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardimg {
  width: 245px;
  border-radius: 10px;
}
.Link{
  text-decoration: none;
  color: cyan;
}
nav{
  font-size: 40px;
}
header{
  border-bottom: 1px solid black;
  width: 350px;
  margin: auto;
  font-size: 25px;
  margin-bottom: 5px;
}
h1{
  margin: 0;
}
.List{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.contact {
  margin: 0 auto;
  margin-top: 15px;
}
.about {
  margin: 0 auto;
  margin-top: 15px;
}
h2{
  text-decoration: underline;
}
